<!-- app/templates/home/index.html -->
{% extends "components/base.html" %}
{% block page_head %}
{% endblock %}
{% block page_body %}

{% include 'components/cards.html' %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div id="columnchart_material" class="chart mx-4 mt-4"></div>
        </div>
        <div class="row">
            <div id="line_top_x" class="chart mx-4 mt-4"></div>
        </div>
    </div>
</section>






{% include 'components/column_charts.html' %}
{% include 'components/line_charts.html' %}

{% endblock %}