<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Conecte-se conosco nas redes sociais!</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i> Bootstrap investment
                    </h6>
                    <p>
                        Trabalho de Conclusão de Curso apresentado à Universidade Virtual do Estado de São Paulo, como parte dos requisitos
                        necessários à obtenção do título de Bacharel, no Curso de Engenharia de Computação.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Alunos
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Weslei</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Allyson</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Juliana</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Eduardo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Denys</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Links úteis 
                    </h6>
                    <p>
                        <a href="https://www.b3.com.br/pt_br/" class="text-reset">Bolsa de Valores (B3)</a>
                    </p>
                    <p>
                        <a href="https://cei.b3.com.br/CEI_Responsivo/" class="text-reset">Canal Eletrônico do Investidor (CEI)</a>
                    </p>
                    <p>
                        <a href="https://www.bcb.gov.br/" class="text-reset">banco central do brasil</a>
                    </p>
                    <p>
                        <a href="https://www.gov.br/cvm/pt-br" class="text-reset">Comissão de Valores Mobiliários (CVM)</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Universidade</h6>
                    <p><i class="fas fa-home me-3"></i> Univesp</p>
                    <p><i class="fas fa-envelope me-3"></i> atendimento@univesp.br</p>
                    <p><i class="fas fa-phone me-3"></i> (11) 3188-6700</p>
                    <p><i class="fas fa-print me-3"></i> 0800 051 3333</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="#">Grupo 041</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->