{% import "bootstrap/utils.html" as utils %}
{% extends "components/base.html" %}
{% block page_body %}

{{ utils.flashed_messages() }}
<h1>Dashboard</h1>
<br>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Ticket</th>
            <th scope="col">Tipo</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço médio</th>
            <th scope="col">Preço atual</th>
            <th scope="col">Valor de mercado</th>
            <th scope="col">P/L</th>
            <th scope="col">%P/L</th>
        </tr>
    </thead>
    <tbody>
        {% for wallet, stock_value in zip(wallet_user, stock_user)%}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{info(wallet.ticket).shortName.to_string(index=False)}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{wallet.ticket|upper}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{wallet.kind}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{wallet.amount}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{"R$ {:,.2f}".format(wallet.price)}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{"R$ {:,.2f}".format(stock_value)}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{"R$ {:,.2f}".format(wallet.amount * stock_value)}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{"R$ {:,.2f}".format((wallet.amount * stock_value)-(wallet.price*wallet.amount))}}</a></td>
            <td><a href="{{url_for('dashboard_blueprint.dashboard')}}{{wallet.ticket}}">{{"{:,.2f}%".format(((wallet.amount * stock_value)/(wallet.price*wallet.amount)-1)*100)}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>




<div class="col">
    <a type="button" class="btn btn-info  float-right" href="{{url_for('dashboard_blueprint.add_position')}}">
        <span>Add Posição</span>
    </a>
</div>


<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}