{% extends "components/base.html" %}

{% block page_body %}
<div class="content-section">
    <div class="datails">
        <h1>{{ticket}}  {{stock.shortName}} </h1>
        <figure>
            <img src="{{stock.logo_url}}" alt="Minha Figura">
            <figcaption>Informações</figcaption>
        </figure>
        <h3>{{stock.sector}}</h3>
        <h3>{{stock.website}}</h3>
        <h3>{{stock.sector}}</h3>
        <h3>{{stock.sector}}</h3>
        </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<br><br>
{% endblock %}