{% extends "components/base.html" %}

{% block page_body %}
<div class="content-section">
    <div class="datails">
        <h1>{{stock.shortName.to_string(index=False)}} </h1>
        <br>
        <h1>{{ticket|upper}}</h1>
        <figure>
            <img src="{{stock.logo_url.to_string(index=False)}}" alt="">
        </figure>
        <h3>{{stock.sector.to_string(index=False)}}</h3>
        </div>

        {% if graphic != None %}
        <img src="data:image/png;base64,{{ graphic }}">
        {% endif %}
</div>
<br><br><br><br><br><br><br><br><br><br>
<br><br>
{% endblock %}